.footer {
    background-color: #B4C0D3;
    padding: 20px;
    text-align: center;
  }
  
  .footer .contact-info {
    margin-bottom: 20px;
  }
  
  .footer .contact-info h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .footer .contact-info p {
    margin: 5px 0;
    color: #666;
  }
  
  .footer .footer-logo img {
    height: 50px;
    cursor: pointer;
  }
  
  .footer p {
    margin: 5px 0;
    color: #666;
  }
  