
.recipe-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 650px;
    margin-bottom: 160px;

}

.back-button {
    align-self: flex-start;
    padding: 13px;
    background-color: #B4C0D3;
    margin-left: 100px;
   
}

.recipe-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.recipe-detail h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.recipe-detail h4 {
    font-size: 1em;
    color:crimson;
} 

.recipe-detail h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-bottom: black 2px solid;
}

.recipe-detail p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    max-width: 800px;
    white-space: pre-wrap;
}

.cssbuttons-io-button {
    margin-left: 100px;
    margin-top: 50px;
    align-self: flex-start;
    background: #B4C0D3;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #B4C0D3;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #B4C0D3;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #B4C0D3;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

