.signup-form {
    width: 500px;
    min-height: 570px;
    margin: 100px auto;
}

.form {
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  }
  
  .signup {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
  }
  
  .form--input {
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
  }
  
  .form--input:focus {
    border: 1px solid #B4C0D3;
    outline: none;
  }
  
  .form--marketing {
    display: flex;
    margin-bottom: 1.25em;
    align-items: center;
  }
  
  .form--marketing > input {
    margin-right: 0.625em;
  }
  
  .form--marketing > label {
    color: grey;
  }
  
  .checkbox, input[type="checkbox"] {
    accent-color: #B4C0D3;
  }
  
  .form--submit {
    width: 50%;
    padding: 0.625em;
    border-radius: 5px;
    color: #333;
    background-color: #B4C0D3;
    border: 1px dashed #B4C0D3;
    cursor: pointer;
  }
  
  .form--submit:hover {
    color: #333;
    background-color: white;
    border: 1px dashed #B4C0D3;
    cursor: pointer;
    transition: 0.5s;
  }

  .error-message {
    color: red;
    font-size: small;
  }

  .form-text {
    font-size: 13px;
  }
  .form-text a {
    color: red;
    text-decoration: none;
  }
  .form-text a:hover {
    color: #B4C0D3;
    text-decoration: underline;
  }